@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: azure;
    
}
body{
    background: #2f363e;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
  }
  



#clock{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: #2f363e;
}


#time{
    display: flex;
    gap: 40px;
}

#time .circle{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
#time .circle svg circle{
    width: 100%;
    height: 100%;
    fill:transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px,5px);
}
#time .circle svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
}
#time div{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 2.2rem;
}
#text{
    
    width: 520px;
    z-index: 10;
    transform: translateY(-68px);
}

#time .ap{
    position: relative;
    font-size:1rem;
    transform: translateX(-20px);
}

#time div span{
    position: absolute;
    transform: translateX(-45%) translateY(-3px);
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.1cm;
    text-transform: uppercase;
}

.dots{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
}
.dots::before{
    content: '';
    position: absolute;
    width: 15px;
    top: -3px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),0 0 60px var(--clr);
}


#stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh; 
    /*70*/
    background: #2f363e;
}
.buttons,.tbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(179px) translateX(90px);
    
}
.buttons img{
    width:66px;
    margin: 0 20px;
    cursor: pointer;
}

.buttons img:nth-child(2){
    width:98px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 70px;
    padding: 0 20px;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin: 0 10px;
  }
  
  .nav a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav a:hover {
    background-color: #ddd;
  }
  
  .nav a.active {
    background-color: #333;
    color: #fff;
  }
  


  #lapList {
    margin-top: 20px;
  }
  
  #stopwatch {
    position: relative;
  }
  
  #lapList {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    transform: translateY(283px);
  }
  


  #timer{
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 70vh; 
    /*70*/
    background: #2f363e;
}
  

.tbuttons img{
  width:66px;
  margin: 0 20px;
  cursor: pointer;
}

.tbuttons img:nth-child(3){
  width:98px;
}

.PlMi{
  display: flex;
  flex-direction: column;
}

  